


{% style %}
  .product-wrapper-{{ product.id  }} {
    display: flex;
    justify-content: space-between;

    border: 1px solid #ccc;
    border-radius: 5px;

    .product-img-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;

      border: 1px solid #ccc;
      border-radius: 5px;

      .product-img {
        width: 100%;
        height: auto;
      }
    }

    .product-content-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      padding: 1rem;
      width: 50%;
      .product-description {
        margin: 1rem 0;
      }
      .product-price {
        margin: 1rem 0;
      }
    }
  }
{% endstyle %}

<div class="product-wrapper-{{ product.id }}">
  <div class="product-content-wrapper">
    <h1>{{ product.title }}</h1>
    <h4 class="product-description">
      {% if product.description %}
        {{ product.description }}
      {% else %}
        No description
      {% endif %}
    </h4>
    <h3 class="product-price">{{ product.price | money }}</h3>
    <div> #{{ product.id }}</div>
  </div>

  <div class="product-img-wrapper">
    <img
      class="product-img"
      src="{{ product.featured_image | img_url: 'medium' }}"
      alt="{{ product.featured_image.alt | escape }}"
      width="20%"
      height="auto"
    >
  </div>
</div>
<div>
  
  
  {{ product.available}} 
  {% if product.available %}
    <form action="/cart/add" method="post">
      <input type="hidden" name="id" value="{{ product.variants.first.id }}">
      <input type="submit" value="Add to cart">
    </form>
  {% else %}
    <p>Out of stock</p>
  {% endif %}
  {{ product.category }}
  {{ product.collections }}
  {{ product.description }}
  {{ product.featured_image }}
  {{ product.featured_media }} 
  {{ product.handle }}
  {{ product.id }}


  



</div>
